:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --card-set-gap: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --card-border: 1px solid #eeeeee;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Шапка сайта */
.page-header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: flex;
  align-items: center;
}

/* Логотип */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

.logo-header-black {
  color: #000000;
}

/* Главная навигация */
.main-nav {
  display: flex;
  margin-left: 93px;
}

.main-nav .item:not(:last-child) {
  margin-right: 50px;
}

.main-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Контакты хедер*/
/* .link-icon {
  width: 16px;
  height: 12px;
  fill: var(--primary-text-color);
} */

/* .link:hover,
.link:focus {
  fill: var(--accent-color);
} */

.contacts-nav {
  display: flex;
}

.contacts-nav .item:not(:last-child) {
  margin-right: 50px;
}

.contacts-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.main-nav .link:hover,
.main-nav .link:focus,
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

.main-nav .link.current {
  color: var(--accent-color);
}

/* Блок герой, футер*/
.hero {
  background-color: #2f303a;
}

.hero {
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Кнопка */
.btn {
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-btn {
  padding: 10px 32px;
  min-width: 200px;

  background-color: #188ce8;
  color: #ffffff;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
}

/* Секции */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding-top {
  padding-top: 0;
}

.section-title.hiden {
  display: none;
}

.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Преимущества */
.feature-list {
  display: flex;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.feature-list .item {
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
  flex-basis: calc(100% / 4 - var(--card-set-gap));
}

.feature-list .title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list .text {
  font-size: 14px;
  line-height: 1.71;
}

/* Чем мы занимаемся */
.gallery-list {
  display: flex;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.gallery-list .item {
  display: flex;
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

/* Наша команда */
.team-list {
  display: flex;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.team-list .item {
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  border-radius: 0px 0px 4px 4px;

  background-color: #ffffff;
  box-shadow: var(--card-shadow);
}

.team {
  background-color: #f5f4fa;
}

.team-employee {
  padding: 30px 0;
  text-align: center;
}

.team .member {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team .position {
  font-size: 16px;
  line-height: 1.2;
}

/* Футер */
.footer {
  background-color: #2f303a;
}

.logo.logo-footer {
  display: block;
  padding-top: 60px;
  margin-bottom: 20px;
}

.logo-footer-white {
  color: #ffffff;
}

.contacts-footer {
  padding-bottom: 60px;
}

.contacts-footer .link:hover,
.contacts-footer .link:focus {
  color: var(--accent-color);
}

.contacts-footer .link,
.contacts-footer .address {
  display: block;

  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.contacts-footer .address {
  color: #ffffff;
}

/* Страница портфолио */
/* Фильтр кнопки */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-btn {
  padding: 6px 22px;
  min-width: 73px;

  background-color: #f5f4fa;
  color: var(--title-text-color);
}

.filter-btn:not(:last-child) {
  margin-right: 8px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/* Проекты */
.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.projects .item {
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
  flex-basis: calc(100% / 3 - var(--card-set-gap));
}

.card {
  border: var(--card-border);
  background-color: #ffffff;
}

.card-content {
  display: block;
  padding: 20px 24px;
}
.projects .card-title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects .card-filter {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}
